<ol class="breadcrumb">
  <% breadcrumb.each do |key, val| %>
  	<% if val.present? %>
      <li><a href="<%= val%>"><%= key %></a></li>
    <% else %>
    	<li  class="active"><strong><%= key %></strong></li>
    <% end %>  
  <% end %>
</ol>