<div class="col-md-6">
      <div style="padding-bottom: 5%;padding-top: 5%"><h3>Welcome to Service Deals</h3> </div>
      
      <p>
        Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum
        Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum
        Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum Loremipsum
      </p>

      <p>
        Reminders: Service Deals offers options for Compare Best Deals to Residence & Business users.
      </p>

      <p>
        Service Deals is committed to empowering Business/Residence Users with pivotal Services information.
        <a href="<%= APP_CONFIG[:main_url] %>" target="_blank">Go online </a>to setup your own Account or simply mail us to
        <a href="mailto:support@servicedeals.com?Subject=Hello%20DoctorPLab%20Team" target="_top"><%= APP_CONFIG[:contact_email] %></a>.
      </p>

</div>