<div class="features" tyle="padding-bottom:3%">
  <ul><li class="hm-del"><i></i>Free Home<br>Collection</li><li class="epay"><i></i>Easy Payment<br>Options</li><li class="otr"><i></i>Online<br>Test Reports</li><li class="qdl"><i></i>High Quality<br>Diagnostic Labs</li></ul>
  <div class="clr"></div>
</div>