<header> <div class="navbar-fixed-top" style="height: 67px;">
	 <%= render :partial => 'home/top_nav' %> 
	 <!-- <div class="clr"></div> --> 
	 <a href="<%= dashboard_dashboards_path %>"> <div class="logo"></div></a>
	 <%= render :partial => 'home/home_menu' %> </div> 
	 </header>
	 