<div class="animated fadeInDown" style="padding-top: 1%;padding-bottom: 0%;width: 80%;margin: auto;">
  <div class="row">

    <div class="col-md-12">
      <div class="ibox-content">

        <div style="text-align: center;"><h3>Got your Answer if not? call us.</h3> </div>

        <div class="hr-line-dashed"></div>

        <div class="row" style="background-color: #F3F3F4;">
          <p><strong>Question</strong> : Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum  ?</p>
          <p><strong>Answer</strong> : Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum ,
            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          </p>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="row" style="background-color: #F3F3F4;">
          <p><strong>Question</strong> : Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum  ?</p>
          <p><strong>Answer</strong> : Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum ,
            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          </p>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="row" style="background-color: #F3F3F4;">
          <p><strong>Question</strong> : Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum  ?</p>
          <p><strong>Answer</strong> : Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum ,
            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
          </p>
        </div>

      </div>
    </div>
  </div>
  <hr />

</div>


