// Place all the styles related to the Admin::TestCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.w-220{width: 220px;}
.list-span-heading{color: #0d8ddb}
.list-span-warning{color: #ca4440}
.list-span-success{color: #006621}
.custom-input-error{background: rgb(251, 227, 228);border: 1px solid #fbc2c4;color: #8a1f11;}
