<html>
<head>
</head>
<body>
  <p>Hi <%=@name%>,</p>
  <p>You can log into sales portal using following credentials</p>
  <table>
    <tr>
      <td>email</td>
      <td><%=@email%></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><%=@decrypted_password %></td>
    </tr>
  </table>
</body>
</html>
