<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Edit Profile</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= user_users_path %>">Home</a>
      </li>
      <li class="active">
        <strong>Edit Profile</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<%= render :partial => 'user/users/form' %>