<div class="loginColumns animated fadeInDown" style="padding-top:4%;padding-bottom:0%;">
	<%= render :partial => 'shared/dpl_notifier' %>
  <div class="row">
  	<%= render :partial => 'shared/login_left_panel' %>
	
    <div class="col-md-6">
      <div class="ibox-content">
      	<div><h3>Forgot Password</h3> 
      	Enter email address to receive an email with the link to reset your password. 	
       </div>
    <div class="hr-line-dashed"></div>
        <%= form_tag forgot_password_user_users_path do %>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" required="true" name="email">
            </div>
            
            <button type="submit" class="btn btn-w-m btn-success block full-width m-b">
               Submit
            </button>

           
        <% end %>
        <p class="m-t"></p>
      </div>
    </div>
  </div>
  <hr />
</div>