<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Deals</h2>
    <%= render :partial => "shared/breadcrumb", :locals => {:breadcrumb => @breadcrumb}%>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<%#=raise "Ss"%>
<%= render :partial => "#{params[:category].downcase}_deal_attribute_table", :locals =>{:@table_data => @table_data}%>
