<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Edit Deal Attributes</h2>
    <%= render :partial => "shared/breadcrumb", :locals => {:breadcrumb => @breadcrumb}%>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<%= render :partial=>"#{params[:category]}_deal_attribute_form", :locals => {:@deal_attribute => @deal_attribute_data }%>
