  	<% if flash[:notice].present? %>
    <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
       <%= flash[:notice] %><a class="alert-link" href="#"></a>.
    </div>
    <% end %>
   <% if flash[:warning] %>
    <div class="alert alert-warning alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <%= flash[:warning] %><a class="alert-link" href="#">Alert Link</a>.
    </div>
   <% end %> 
 